@import 'globals';
@import 'reset';

@import 'components/Root';
@import 'components/WidgetGrid';
@import 'components/Options';
@import 'components/TopBar';

@import 'widgets/widget';
@import 'widgets/TimeWidget';

html, body, #app{
    min-height: 100%;
    width: 100%;
    overflow-x: hidden;
}

#root{
    position: absolute;
    left:   0;
    right:  0;
    min-height: 100%;

    @include transition(.2s, margin-left);
}
