.core-timer-widget {

    .clock-content {
        border-style: solid;
        border-width: 1px;
        display: inline-block;
        width: 100%;
        height: auto;
        position: relative;
    }
    .status {
        width: 117px;
        height: 117px;
        float: left;
    }
    .clock-info {
        display: inline-block;
        bottom: 15px;
        right: 15px;
        position: absolute;
    }
    .clock-info > span {
        margin: 4px 4px;
        display: block;
        text-align: right;

    }
    .utc {
        font-size: 12px;
        text-transform: uppercase;
    }
    .time {
        font-family: 'Gotham-Bold';
        font-weight: 900;
        font-size: 43px;
        text-transform: uppercase;
    }
    .date {
        font-size: 12px;
        text-transform: lowercase;
    }


    time, date {
        display: block;
    }

    time {
        font-size: 1.5em;
        font-weight: bold;
    }

    date {
        font-size: 1em;
    }

    &.sizex-2.sizey-1{
        font-size: 14px;
    }
}
