@import '../globals.scss';

#options {
    width: 250px;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 100%;
    padding: 20px;
    background: #444444;
    color: #FFFFFF;

    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;

    @include transition(0.2s, transform);

    input {
        padding: 5px 0px;
        margin: 10px 0px;
    }

    z-index: 2000;

    h1 {
        font-size: 2em;
    }

    label {
        span {
            display: inline-block;
        }

        input {
            width: 80%;
            margin-left: 20%;
            padding: 5px;
        }
    }
}

#root.mode-opts #options {
    transform: translate(-250px, 0);
    -webkit-transform: translate(-250px, 0);
}
