@import '../globals';

.mode-opts {
    margin-left: -250px;
}

#options {
    width: 250px;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 100%;
    padding: 20px;
    background: #444444;
    color: #FFFFFF;
    @include transition(0.2s, margin-left);

    input {
        padding: 5px 0px;
        margin: 10px 0px;
    }
}

#options.opts-active {
    margin-left: -250px;
}
