#widget-grid {

    margin-left:auto;
    margin-right:auto;

    // we center this bro
    #widget-grid-inner {
        position: relative;
    }

    .widget-grid-entry {
        position:absolute;
        top: 0;
        left: 0;
        background-color: #FF0000;
        opacity: 0.5;
    }
}
